@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--light: 98.51% 0 0;
		--dark: 16.41% 0.006 285.68;
		--bg: 100% 3.5594404384177905e-8 106.37411429114086;
		--fg: 14.05% 0.004 285.82;
		--overlay: 100% 3.5594404384177905e-8 106.37411429114086;
		--overlay-fg: 14.05% 0.004 285.82;
		--primary: 21.03% 0.006 285.89;
		--primary-fg: 100% 3.5594404384177905e-8 106.37411429114086;
		--secondary: 96.76% 0.001 286.38;
		--secondary-fg: 21.03% 0.006 285.88;
		--tertiary: 100% 3.5594404384177905e-8 106.37411429114086;
		--tertiary-fg: 27.47% 0.006 286;
		--accent: 94% 0.004 286.32;
		--accent-fg: 21.03% 0.006 285.89;
		--accent-subtle: 96.74% 0.001 286.38;
		--accent-subtle-fg: 14.08% 0.004 285.82;
		--success: 59.59% 0.127 163.23;
		--success-fg: 97.93% 0.021 166.11;
		--info: 65.08% 0.1906793232945444 251.28316095209283;
		--info-fg: 100% 3.5594404384177905e-8 106.37411429114086;
		--muted: 96.76% 0.001 286.38;
		--muted-fg: 55.19% 0.014 285.94;
		--danger: 57.71% 0.215 27.32;
		--danger-fg: 97.05% 0.013 17.38;
		--warning: 83.69% 0.164 84.43;
		--warning-fg: 27.92% 0.074 45.64;
		--border: 91.97% 0.004 286.32;
		--input: 91.97% 0.004 286.32;
		--ring: var(--primary);
		--toggle: 87.16% 0.006 286.28;
		--radius: 0.5rem;
	}

	.dark {
		--bg: 0% 0 0;
		--fg: 98.48% 0 0;
		--overlay: 16.64% 0.004 285.98;
		--overlay-fg: 98.48% 0 0;
		--primary: 100% 3.5594404384177905e-8 106.37411429114086;
		--primary-fg: 21.03% 0.006 285.89;
		--secondary: 22% 0.006 285.89;
		--secondary-fg: 98.48% 0 0;
		--info: 65.08% 0.1906793232945444 251.28316095209283;
		--info-fg: 100% 3.5594404384177905e-8 106.37411429114086;
		--success: 59.59% 0.127 163.23;
		--success-fg: 97.93% 0.021 166.11;
		--accent: 26% 0.005 286.03;
		--accent-fg: 98.51% 0 0;
		--accent-subtle: 21.03% 0.006 285.89;
		--accent-subtle-fg: 98.51% 0 0;
		--tertiary: 15.86% 0.006 285.71;
		--tertiary-fg: 96.83% 0.001 286.37;
		--muted: 27.41% 0.005 286.03;
		--muted-fg: 71.19% 0.013 286.07;
		--ring: var(--primary);
		--toggle: 37.01% 0.011 285.84;
		--border: 26.08% 0.01 285.69;
		--input: 27.41% 0.005 286.03;
	}
}

@layer base {
	html {
		@apply scroll-smooth;
	}

	* {
		@apply border-border;
		font-feature-settings: "cv11", "ss01";
		font-variation-settings: "opsz" 850;
		text-rendering: optimizeLegibility;
		scrollbar-width: thin;
		scrollbar-color: #d4d4d8 transparent;
	}

	body {
		@apply bg-bg text-fg;
	}

	/* dark mode */
	.dark {
		scrollbar-width: thin;
		scrollbar-color: oklch(var(--secondary)) transparent;

		@media (prefers-color-scheme: dark) {
			* {
				scrollbar-width: thin;
				scrollbar-color: oklch(var(--secondary)) transparent;
			}
		}
	}

	/* Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	*::-webkit-scrollbar-track {
		background: transparent;
		border-radius: 5px;
	}

	*::-webkit-scrollbar-thumb {
		@apply bg-muted;
		border-radius: 14px;
		border: 3px solid transparent;
	}
}

.react-aria-DropIndicator[data-drop-target] {
	outline: 1px solid oklch(var(--primary));
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 60000000s 0s, color 60000000s 0s;
}

input[data-autocompleted] {
	background-color: transparent;
}

@font-face {
	font-family: "Geist";
	src: url(./assets/fonts/GeistVF.woff2) format("woff2-variations"),
		url(./assets/fonts/GeistVF.woff) format("woff-variations");
	font-weight: 100 900;
	font-stretch: 75% 125%;
	font-style: normal;
}

@font-face {
	font-family: "Geist Mono";
	src: url(./assets/fonts/GeistMonoVF.woff2) format("woff2-variations"),
		url(./assets/fonts/GeistMonoVF.woff) format("woff-variations");
	font-weight: 100 900;
	font-stretch: 75% 125%;
	font-style: normal;
}

:root {
	font-family: Geist, sans-serif;
}

/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: theme("colors.primary.DEFAULT");

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px theme("colors.primary.DEFAULT"), 0 0 5px
		theme("colors.primary.DEFAULT");
	opacity: 1;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}

#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;

	border: solid 2px transparent;
	border-top-color: theme("colors.primary.DEFAULT");
	border-left-color: theme("colors.primary.DEFAULT");
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
